.card {
    &__content {
        position: relative;
    }
    &__title {
        cursor: pointer;
        padding-left: 7px;
        @include cut-text;
    }
    &__add-button {
        margin-top: 10px;
    }
}