/* Spacings */

$trl-space: 1rem;
$trl-space-xs: $trl-space * 0.25;
$trl-space-5-px: $trl-space * 0.3125;
$trl-space-sm: $trl-space * 0.5;
$trl-space-10-px: $trl-space * 0.625;
$trl-space-075: $trl-space * 0.75;
$trl-space-md: $trl-space * 1.5;
$trl-space-lg: $trl-space * 2;
$trl-space-xl: $trl-space * 3;
$trl-space-xxl: $trl-space * 4;
$trl-space-25: $trl-space * 2.5;
$trl-space-35: $trl-space * 3.5;
$trl-space-725-px: $trl-space * 45.3125;